<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.garpr.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher"
        android:isGame="false"
        android:label="@string/gar_pr"
        android:name=".App"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".features.deepLink.DeepLinkActivity"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="garpr.com" android:scheme="https" />
                <data android:host="www.garpr.com" android:scheme="https" />
                <data android:host="notgarpr.com" android:scheme="https" />
                <data android:host="www.notgarpr.com" android:scheme="https" />
            </intent-filter>

        </activity>

        <activity
            android:label="@string/head_to_head"
            android:name=".features.headToHead.HeadToHeadActivity" />

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".features.home.HomeActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:label="@string/log_viewer"
            android:name=".features.logViewer.LogViewerActivity"
            android:parentActivityName=".features.settings.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.settings.SettingsActivity" />

        </activity>

        <activity
            android:label=""
            android:name=".features.player.PlayerActivity" />

        <activity
            android:label="@string/players"
            android:name=".features.players.PlayersActivity" />

        <activity
            android:label="@string/rankings"
            android:name=".features.rankings.RankingsActivity" />

        <activity
            android:label="@string/set_identity"
            android:launchMode="singleTop"
            android:name=".features.setIdentity.SetIdentityActivity" />

        <activity
            android:label="@string/set_region"
            android:launchMode="singleTop"
            android:name=".features.setRegion.SetRegionActivity" />

        <activity
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:name=".features.settings.SettingsActivity" />

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".features.splash.SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:label=""
            android:name=".features.tournament.TournamentActivity" />

        <activity
            android:label="@string/tournaments"
            android:name=".features.tournaments.TournamentsActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd8750ba792168bfa4d0bc52e19ad83a6fad27c3" />

    </application>

</manifest>
