<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garpr.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher"
        android:label="@string/gar_pr"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".activities.DeepLinkActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="garpr.com" android:scheme="http" />
                <data android:host="garpr.com" android:scheme="https" />
                <data android:host="www.garpr.com" android:scheme="http" />
                <data android:host="www.garpr.com" android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/head_to_head"
            android:name=".activities.HeadToHeadActivity" />

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".activities.HomeActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/log_viewer"
            android:name=".activities.LogViewerActivity"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label=""
            android:name=".activities.PlayerActivity" />

        <activity
            android:label="@string/players"
            android:name=".activities.PlayersActivity" />

        <activity
            android:label="@string/rankings"
            android:name=".activities.RankingsActivity" />

        <activity
            android:label="@string/set_identity"
            android:launchMode="singleTop"
            android:name=".activities.SetIdentityActivity"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label="@string/set_region"
            android:launchMode="singleTop"
            android:name=".activities.SetRegionActivity"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:name=".activities.SettingsActivity" />

        <activity
            android:label=""
            android:name=".activities.TournamentActivity" />

        <activity
            android:label="@string/tournaments"
            android:name=".activities.TournamentsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd8750ba792168bfa4d0bc52e19ad83a6fad27c3" />

        <service
            android:exported="true"
            android:name=".sync.RankingsPollingService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

    </application>

</manifest>
